$tabs-bar-height: 32px;
$tabs-item-min-width: 195px;
$tabs-slider-wrapper-width: 135px;

$switch-track-dense-height: 9px;
$switch-track-dense-width: 26px;
$switch-thumb-dense-width: 16px;
$switch-thumb-dense-height: 16px;
$switch-ripple-dense-top: calc(50% - 21px);
$switch-ripple-dense-x: -13px;
$switch-track-inset-height: 22px;